.traffic-light-stem {
    background-color: black;
    width: 20px;
    height: 90px;
    margin: auto;
}

.traffic-light-body {
    background-color: black;
    width: 100px;
    height: 280px;
    margin: auto;
    border-radius: 25px;
    padding: 20px 10px;

}

.traffic-light-body-ext {
    background-color: black;
    width: 100px;
    height: 360px;
    margin: auto;
    border-radius: 25px;
    padding: 20px 10px;

}

.red-light {
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.yellow-light {
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.green-light {
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.purple-light {
    background-color: purple;
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.selectedR {
    box-shadow: 0px 0px 35px 20px #e03f3f;
}
.selectedY {
    box-shadow: 0px 0px 35px 20px #fcf96c;

}
.selectedG {
    box-shadow: 0px 0px 35px 20px #38f038;

}
.selectedP {
    box-shadow: 0px 0px 35px 20px #8d1e84;
}

.buttonsDiv {
    margin: 0;
    text-align: center;    
    padding-top: 20px;

}

.toggle-light {
    width: 130px;
    height: 75px;
    background-color: black;
    color: white;
}